In [3]:
pahlawan = ['Pangeran Diponegoro','2',2,3.14]
print(pahlawan)
print(type(pahlawan))

['Pangeran Diponegoro', '2', 2, 3.14]
<class 'list'>

In [7]:
nilai = [20,23,98,77,55]
print(nilai)
nilai[0] = 90
nilai[-1] = 88
nilai[3] = 78
print(nilai)

[20, 23, 98, 77, 55]
[90, 23, 98, 78, 88]

In [13]:
nama = ["D","u", "t", "a"]
print(nama)
nama[0] = "K"
print(nama)
print(type(nama))

['D', 'u', 't', 'a']
['K', 'u', 't', 'a']
<class 'list'>

In [18]:
a = "banana"
b = "banana"
a is b

True

In [17]:
list_a = ["D","u", "t", "a"]
list_b = ["D","u", "t", "a"]
list_a is list_b

False

In [23]:
#penambahan list
list_a = ["D","u", "t", "a","-"]
list_b = ["W","a", "c", "a","n","a"]
list_c = list_a + list_b
print(list_c)

['D', 'u', 't', 'a', '-', 'W', 'a', 'c', 'a', 'n', 'a']

In [25]:
#perkalian list
list_a = ["D","u", "t", "a","-"]
list_c = list_a * 3
print(list_c)

['D', 'u', 't', 'a', '-', 'D', 'u', 't', 'a', '-', 'D', 'u', 't', 'a', '-']

In [35]:
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)
print(list_a[1])
print(list_a[-1])
print(len(list_a))
print(list_a[1:3])
print(list_a[:3])
print(list_a[1:])
print(list_a[:])

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
Kristen
Yogyakarta
5
['Kristen', 'Duta']
['Universitas', 'Kristen', 'Duta']
['Kristen', 'Duta', 'Wacana', 'Yogyakarta']
['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']

In [40]:
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)

list_a[0] = "Institut"
print(list_a)

list_a[1:3] = ["Institut","Teknologi"]
print(list_a)

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
['Institut', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
['Institut', 'Institut', 'Teknologi', 'Wacana', 'Yogyakarta']

In [55]:
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)
print(len(list_a))

#fungsi append
list_a.append (["D.I Yogyakarta","Indonesia"])
print(list_a)
print(len(list_a))

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
5
['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta', ['D.I Yogyakarta', 'Indonesia']]
6

In [56]:
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)
print(len(list_a))

#fungsi extend
list_a.extend (["D.I Yogyakarta","Indonesia"])
print(list_a)
print(len(list_a))

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
5
['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta', 'D.I Yogyakarta', 'Indonesia']
7

In [60]:
#sorting
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)
list_a.sort()
print(list_a)

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
['Duta', 'Kristen', 'Universitas', 'Wacana', 'Yogyakarta']

In [61]:
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)
list_a.pop(4)
print(list_a)

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
['Universitas', 'Kristen', 'Duta', 'Wacana']

In [62]:
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)
del list_a[4]
print(list_a)

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
['Universitas', 'Kristen', 'Duta', 'Wacana']

In [65]:
list_a = ["Universitas","Kristen","Duta","Wacana","Yogyakarta"]
print(list_a)
list_a.remove("Yogyakarta")
print(list_a)

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
['Universitas', 'Kristen', 'Duta', 'Wacana']

In [74]:
nilai = [10,99,88,99,77,66,32,101,5,44]
print("Data Asli : ",nilai)
print("Panjang List : ", len(nilai))
print("Nilai maksimum nya : ", max(nilai))
print("Nilai minimum nya : ", min(nilai))
print("Total nilainya : ",sum(nilai))
nilai.sort()
print("Urutan datanya : ",nilai)

Data Asli :  [10, 99, 88, 99, 77, 66, 32, 101, 5, 44]
Panjang List :  10
Nilai maksimum nya :  101
Nilai minimum nya :  5
Total nilainya :  621
Urutan datanya :  [5, 10, 32, 44, 66, 77, 88, 99, 99, 101]

In [77]:
nama = "Universitas Kristen Duta Wacana Yogyakarta"
print(nama)
print(type(nama))

list_nama = list(nama)
print(list_nama)
print(type(list_nama))

Universitas Kristen Duta Wacana Yogyakarta
<class 'str'>
['U', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'a', 's', ' ', 'K', 'r', 'i', 's', 't', 'e', 'n', ' ', 'D', 'u', 't', 'a', ' ', 'W', 'a', 'c', 'a', 'n', 'a', ' ', 'Y', 'o', 'g', 'y', 'a', 'k', 'a', 'r', 't', 'a']
<class 'list'>

In [79]:
nama = "Universitas Kristen Duta Wacana Yogyakarta"
nama2 = nama.split() #split based on spasi
print(nama2)
print(type(nama2))

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
<class 'list'>

In [81]:
nama = "Universitas Kristen-Duta Wacana Yogyakarta"
nama2 = nama.split("-")
print(nama2)

['Universitas Kristen', 'Duta Wacana Yogyakarta']

In [85]:
nama = "Universitas Kristen Duta Wacana Yogyakarta"
nama2 = nama.split() #split based on spasi
print(nama2)
print(type(nama2))

delimiter = ' '
gabung = delimiter.join(nama2)
print(gabung)
print(type(gabung))

['Universitas', 'Kristen', 'Duta', 'Wacana', 'Yogyakarta']
<class 'list'>
Universitas Kristen Duta Wacana Yogyakarta
<class 'str'>

In [98]:
n = [56,60,70]
n = h
n is h
print(n)
print(h)

[' ']
[' ']

In [95]:
n = [56,60,70]
h = [56,60,70]
n is h
n[0] = 77
print(n)
print(h)

[77, 60, 70]
[56, 60, 70]

In [102]:
a1 = [3,5]
a2 = a1.append(9)
print(a1)
print(a2)

a3 = a1 + [7]
print(a3)
print(a1)

[3, 5, 9]
None
[3, 5, 9, 7]
[3, 5, 9]

In [103]:
def hapus(inpuList):
    return(inpuList[1:])

huruf=['a','b','c']
print(hapus(huruf))

['b', 'c']

In [106]:
def ceksama(list1,list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result

print(ceksama([1,2,3,4,5],[5,6,7,8,9]))
print(ceksama([1,2,3,4,5],[6,7,8,9]))

True
None

In [111]:
def terbesarkedua(bilangan):
    if(len(bilangan)<2):
        return
    if(len(bilangan) == 2) and (bilangan[0] == bilangan[1]):
        return
    
    set_item = set()
    unik_item = []

    for x in bilangan:
        if x not in set_item:
            unik_item.append(x)
            set_item.add(x)
    unik_item.sort() #sort ascending (paling kecil,............paling besar)

    return unik_item[-2]

print(terbesarkedua([1,2,-8,-2,0,-2]))
print(terbesarkedua([1,1,0,0,2,-2,-2]))
print(terbesarkedua([1,1,1,0,0,0,2,-2,-2]))

1
1
1

In [122]:
def subList(A,B):
    sub_set = False
    if B == []:
        sub_set = True
    elif B == A:
        sub_set = True
    elif len(B) > len(A):
        sub_set =  False
    else:
        for i in range(len(A)):
            if A[i] == B[0]:
                n = 1
                while (n < len(B)) and ((A[i+n] == B[n])):
                    n +=1
                if n == len(B):
                    sub_set = True
        
        return sub_set

a = [1,4,3,5,7]
b = [4,3]
c = [3,7]

print(subList(a,b))
print(subList(a,c))

False
False