In [2]:
bil_genap = {2,4,6,8,10,12}
print(type(bil_genap))

bil_ganjil = {1,3,5,7,9,11}
print(type(bil_ganjil))

<class 'set'>
<class 'set'>

In [15]:
#menggunakan fungsi set
pernah_kebulan = set(['Neil Amstrong','Buzz Aldrin'])
print (type(pernah_kebulan))
print(pernah_kebulan)

<class 'set'>
{'Neil Amstrong', 'Buzz Aldrin'}

In [17]:
mars = set()
print(type(mars))

mars1 = {}
print(type(mars1))

<class 'set'>
<class 'dict'>

In [24]:
nim = {'71200123','71200195','71200214'}
jumlan_nim = len(nim)
print(jumlan_nim)

for n in nim:
    print(n)

3
71200214
71200195
71200123

In [32]:
plat_nomor = set()
plat_nomor.add ('AB 1890 XA')
plat_nomor.add ('AD 6810 MT')
plat_nomor.add ('AD 1265 MT')

plat_nomor.add ('AA 6810 MT')

plat = len(plat_nomor)

for plat in plat_nomor:
    print(plat)

AB 1890 XA
AA 6810 MT
AD 6810 MT
AD 1265 MT

In [37]:
bil_prima = {13,23,7,29,11,5}
print(bil_prima)

bil_prima.remove(5)
print(bil_prima)

bil_prima.remove(77)

{29, 23, 5, 7, 11, 13}
{29, 23, 7, 11, 13}

KeyError: 77

In [41]:
bil_prima = {13,23,7,29,11,5}
print(bil_prima)

bil_prima.discard(11)
print(bil_prima)

bil_prima.discard(101)
print(bil_prima)

{29, 23, 5, 7, 11, 13}
{29, 23, 5, 7, 13}
{29, 23, 5, 7, 13}

In [44]:
bil_prima = {13,23,7,29,11,5}
print(bil_prima)

bil = bil_prima.pop()
print (bil)
print(bil_prima)

{29, 23, 5, 7, 11, 13}
29
{23, 5, 7, 11, 13}

In [45]:
bil_prima = {13,23,7,29,11,5}
print(bil_prima)

bil_prima.clear()
print(bil_prima)

{29, 23, 5, 7, 11, 13}
set()

In [48]:
ikan = set(['koi','koki','kembung','salmon'])
print(ikan)

ikan.remove('koi')
print(ikan)

ikan.add('teri')
print(ikan)

{'salmon', 'koi', 'koki', 'kembung'}
{'salmon', 'koki', 'kembung'}
{'koki', 'teri', 'kembung', 'salmon'}

In [54]:
merk_hp = {'Samsung','Apple','Xiaomi','Sony'}
merk_ac = {'LG','Samsung','Panasonic','Daikin','Sony'}

gabungan = merk_hp | merk_ac    #union
irisan = merk_hp & merk_ac      #intersection
hanya_ac = merk_ac - merk_hp    #diffence

ac_hp_saja = merk_ac ^ merk_hp #sym_different

#sym_different = union - intersection
ac_dan_hape = merk_hp.union(merk_ac) - merk_hp.intersection(merk_ac)

print("Union = ", gabungan)
print("Intersection = ", irisan)
print("Difference = ", hanya_ac)

print("Sym Difference = ", ac_hp_saja)
print("Sym Difference = ",ac_dan_hape)

Union =  {'Daikin', 'Apple', 'Xiaomi', 'Samsung', 'Sony', 'Panasonic', 'LG'}
Intersection =  {'Samsung', 'Sony'}
Difference =  {'LG', 'Daikin', 'Panasonic'}
Sym Difference =  {'Panasonic', 'LG', 'Daikin', 'Apple', 'Xiaomi'}
Sym Difference =  {'Daikin', 'Apple', 'Xiaomi', 'Panasonic', 'LG'}

In [57]:
merk_hp = {'Samsung','Apple','Xiaomi','Sony'}
merk_ac = {'LG','Samsung','Panasonic','Daikin','Sony'}
merk_monitor = {'Xiaomi','Sony','Asus','BenQ','LG'}

gabungan = merk_hp | merk_ac | merk_monitor
irisan = merk_hp & merk_ac & merk_monitor
print(gabungan)
print(irisan)

{'Daikin', 'Apple', 'Xiaomi', 'Samsung', 'Sony', 'Panasonic', 'BenQ', 'LG', 'Asus'}
{'Sony'}

In [61]:
def unique_sum(list):
    data_set = set(list)
    print(type(data_set))

    total = 0
    for data in data_set:
        total = total + data
    
    return total

data = [2, 4, 3, 2, 7, 8, 6, 4, 5, 5] #list input
hasil = unique_sum(data)
print(type(data))
#
print(hasil)

<class 'set'>
<class 'list'>
35

In [63]:
def cek_duplikat(string):
    karakter_set = set()

    for karakter in string:
        if karakter in karakter_set:
            return True
        else:
            karakter_set.add(karakter)
    return False

string1 = 'Alexander the great'
print(cek_duplikat(string1))

string2 = 'UKDW'
print(cek_duplikat(string2))

True
False

In [64]:
n = int(input('Masukkan jumlah kategori : '))

data_aplikasi = {}

for i in range(n):
    nama_kategori = input("Masukkan Nama Kategori : ")
    print("Masukkan 5 nama aplikasi di kategori", nama_kategori)

    aplikasi = []
    for j in range (5):
        nama_aplikasi = input("Nama Aplikasi : ")
        aplikasi.append(nama_aplikasi)
    
    data_aplikasi[nama_kategori] = aplikasi

print (data_aplikasi)

daftar_aplikasi_list = []
for aplikasi in data_aplikasi.values():
    daftar_aplikasi_list.append(set(aplikasi))

print(daftar_aplikasi_list)

hasil = daftar_aplikasi_list[0]
for i in range(1,len(daftar_aplikasi_list)):
    hasil = hasil.intersection(daftar_aplikasi_list[i])

print(hasil)

Masukkan 5 nama aplikasi di kategori Finance
Masukkan 5 nama aplikasi di kategori Utilities
{'Finance': ['RTI', 'Mirae', 'IPOT', 'Poems', 'Calculator'], 'Utilities': ['Photos', 'Wheater', 'Calculator', 'Camera', 'Notes']}
[{'Poems', 'IPOT', 'RTI', 'Calculator', 'Mirae'}, {'Calculator', 'Photos', 'Wheater', 'Notes', 'Camera'}]
{'Calculator'}